<%- include ('partials/header.ejs'); %>
<body> 
    <%- include ('partials/navbar.ejs'); %>

    <div class="container mt-4">
        <h1></h1>
    </div>
</body>
<%- include ('partials/footer.ejs'); %>
